
header{
    background-color: #E1D3EF;
    height: 100px;
    text-align: center;
    box-shadow: 1px 3px 5px rgba(0, 0, 0 , 1)
}
.container{
    margin-top: 100px;
}

.container{
    background-color: #E1D3EF;
    height: 500px;
}

.divider{
    background-color: #E1D3EF;
}

.form-control{
    border-color: #9843F7;
}